name: release

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - run: |
          MODULE_NAME=$(jq -r .id module.json)
          MODULE_VERSION=$(jq -r .version module.json)
          ZIP_NAME="${MODULE_NAME}-${MODULE_VERSION}.zip"
          zip -r "$ZIP_NAME" . -x "*.github*" "*.git*"  # exclude GitHub stuff
          echo "ZIP_FILE=$ZIP_NAME" >> $GITHUB_ENV

      - uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: softprops/action-gh-release@v1
        with:
          files: ${{ env.ZIP_FILE }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
